:root {
  --font-dm-sans: "DM Sans", sans-serif;

  --bg-icon: #131313;
  --bg-arrow-color: rgba(0, 0, 0, 0.7);

  --bg-card-color: #121212;
  --color-card: #b3b3b3;

  --color-white: #fff;
  --color-black: #000;
}
